.navbar {
  background-color: #00112c;
  color: orange;
  width: 100%;
  height: 30px;
}

.navbar a {
  color: orange;
  margin: 1rem;
  font-size: 16px;
  text-decoration: none;
  margin-left: 2.5rem;
}


.navbar a:hover {
  color: yellow;

}

